<a href="https://colab.research.google.com/github/PablOG1988/Ciencia-de-Datos-de-IBM/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. Through various exercises, we will explore key data science languages, libraries, tools, and simple arithmetic operations using Python.

## Exercise 4 - Create a markdown cell to list data science languages
Data scientists commonly use languages such as:

1. Python
2. R
3. SQL
4. Julia
5. Java

## Exercise 5 - Create a markdown cell to list data science libraries
Data scientists frequently utilize libraries such as:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

## Exercise 6 - Create a markdown cell with a table of Data Science tools

|**Tool**       | **Description**                                   |
|---------------|---------------------------------------------------|
| Jupyter       | Interactive notebooks for data analysis           |
| RStudio       | IDE for R programming and data visualization      |
| Apache Spark  | Distributed data processing system                |
| TensorFlow    | Open-source library for machine learning          |
| SQL           | Language for database management and queries      |
| MATLAB        | Tool for numerical computing and data visualization |
| Tableau       | Visualization software for creating dashboards    |
| RapidMiner    | Data science and machine learning platform        |
| Excel         | Spreadsheet software for data analysis            |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

In data science and programming, arithmetic expressions allow us to perform calculations essential for data manipulation and analysis. Here are some examples of basic and advanced arithmetic operations:

1. **Addition:** `5 + 4 = 9`
   
2. **Subtraction:** `10 - 5 = 5`
   
3. **Multiplication:** `3 * 6 = 18`
   
4. **Division:** `15 / 3 = 5`
   
5. **Exponentiation:** `2 ** 4 = 16`

6. **Parentheses and mixed operations:** `(3 * 3) + 5 = 14`

7. **Mixed operations with exponents and division:**  
   `2 ** 3 / 4 + 5 = 7.0`

8. **Parentheses with nested operations:**  
   `(5 + (3 * 4)) - 2 = 15`

9. **Exponentiation and square roots:**  
   `16 ** (1/2) = 4.0` (Square root of 16)

10. **Compound expression with multiple operations:**  
   `(3 * 4) + (5 ** 2) - (18 / 3) = 31.0`

## Exercise 8 - Create a code cell to multiply and add numbers

In [16]:
# This is a basic arithmetic expression that first multiplies and then adds integers
(3 * 4) + 5

17

## Exercise 9 - Create a code cell to convert minutes to hours

In [19]:
# Conversion from minutes to hours
minutes = 30
# Convert minutes to hours
hours = minutes / 60
# Display the result
print(f"{minutes} minutes is equal to {hours} hours.")

30 minutes is equal to 0.5 hours.

## Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- Identify widely used programming languages in Data Science
- Recognize commonly utilized libraries within the Data Science field
- Examine various open-source tools applicable to Data Science
- Perform fundamental arithmetic operations in Python
- Develop an understanding of unit conversion processes in Python (e.g., converting minutes to hours)

## Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Pablo Felipe Opazo Gutierrez